<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">온라인 공연 - 전시 / 관람</h1>
    <br />
    <br />
    <div class="list_cat">
        <h3 class="selected">전시 / 관람</h3>
        <h3 href="../sh_con/">공연 / 콘서트</h3>
        <h3 href="../th_mu/">연극 / 뮤지컬</h3>
    </div>
    {% comment %} <div class="container">
        <div></div>

    </div> {% endcomment %}


    


</body>
</html>