<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">온라인 공연 - 전시 / 관람</h1>
    <br />
    <div class="list_cat">
        <div class="selected">
            <h3>전시 / 관람</h3>
        </div>
        <h3 class="not_selected" href="../sh_con/">공연 / 콘서트</h3>
        <h3 class="not_selected" href="../th_mu/">연극 / 뮤지컬</h3>
    </div>
    <div class="container">
        {% for content in result_ex_pr %}
        <div class="cont_box">
            <img class="cont_poster" src={{content.image}} alt="image"></img>
            <h3>{{content.title}}</h3>
            <h4>~{{content.end_date}}</h4>
        </div>

        {% endfor %}
        

    </div>


    


</body>
</html>