.title {
    display: flex;
    justify-content: center;
}

.list_cat {
    width: 100%;
    height: 40px;
    padding: 20px;
    background-color: aliceblue;
    
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}

.selected {
    color: lightgreen;
}

/* .container {

} */